#ins {
    background-image: url('assets/nuages/Instal_passelectionné.png');

}

#cre {
    background-image: url('assets/nuages/Credit_selectionné.png');
}

.screen {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: calc(95vw - 24vw*977/1442);
    margin: calc(24vw*977/1442 + 2.5vw) 2.5vw 2.5vw 2.5vw;
    background-color: rgba(84, 84, 84, 0.33);
    border-radius: 10%;
}

.screen > .gradient-text {
    margin: 0 auto 10vw auto;
    height: calc(1.5*50vw*100/970.7);
    font-family: ywCool;
    font-size: calc(50vw*100/970.7);
    -webkit-text-stroke: calc(0.04*(50vw*100/970.7)) white;
}

a > .gradient-text {
    box-sizing: content-box;
    margin: auto 0 auto 15vw;
    height: calc(1.21*50vw*100/970.7);
    font-family: ywCool;
    font-size: calc(0.80*50vw*100/970.7);
    -webkit-text-stroke: calc(0.04*(50vw*100/970.7)) white;
}

.gradient-text {
    text-align: center;
    align-items: center;
    display: inline-block; /* largeur de la div = largeur du texte */
    background: -webkit-linear-gradient(bottom left, #E65F42, #F6B03A, #C7BA31, #9CC328, #5CACCC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px white;
    background-size: 100% 1%;
}

.copyright {
    color: white;
    font-size: 2em;
    font-family: sub;
    margin: 0 auto 0 auto;
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */

    .copyright {
        font-size: 1em;
    }

    #btnTop {
        width: 12.5vw;
        height: 12.5vw;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 1em;
    }

    .h0 {
        font-size: 1.75em;
    }
}