body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator{
    width: 60vw;
    height: 0;
    border-width: 3px;
    background-color: transparent;
    border-style: dashed;
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */
    .separator{
        width: 100vw;
    }
}