@font-face {
    font-family: ywBig;
    src: url('assets\\fonts\\FOT-RowdyStd-EB.otf');
}

@font-face {
    font-family: ywCool;
    src: url('assets\\fonts\\fot-yuruka-std.ttf');
}

@font-face {
    font-family: sub;
    src: url('assets\\fonts\\FOT-SeuratProN-B.otf');
}


body {
    position: relative;
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/patern2.png');
    background-size: 15vw 15vw;
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.15; /* sur le patern de yokai watch 1 l'opacité semble être à 10% mais 15 est ce qui est le plus fidèle au résultat*/
    /* filter: brightness(100); objectif avoir un blanc bien pétant 255 */
    pointer-events: none;
    z-index: -1;
    animation: movePatern 10s linear infinite;
}

@keyframes movePatern {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

html {
  scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sub;
    font-size: larger;
    width: 60vw;
    margin: 0 20vw 0 20vw;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright {
    color: white;
    font-size: 2em;
    font-family: sub;
    margin: 0 auto 0 auto;
}

h1 {
    font-family: ywCool;
}

.h0 {
    font-family: ywCool;
    font-size: 2.5em;
}

u{
    color: #880000;
}

.separator{
    width: 60vw;
    height: 0;
    border-width: 0;
    background-color: transparent;
    border-style: dashed;
}

.GTP{
    width: 25vw;
    height: calc(25vw*12/100);
    border-radius: 25px;
    border-color: #DDDDDD;
    border-width: 3px;
    border-style: solid;
    background: linear-gradient(135deg, #ff6666, #6666ff);
    cursor: pointer;
    font-family: ywBig;
    color: #DDDDDD;
    font-size: larger;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
}

.GTP:hover{
    transform: scale(1.2);
    background: linear-gradient(135deg, #6666ff, #ff6666);
}

.apk {
    margin: 15px;
    width: auto;
    padding: 5px;
    border-radius: 35px;
}

.header {
    background-image: url('assets/nuage_g.png'), url('assets/head.png'), url('assets/nuage_d.png');
    width: 100vw;
    height: calc(100vw*886/1780);
    background-size: 10vw auto, 80vw auto, 10vw auto;
    background-repeat: no-repeat;
    background-position: left top, center top, right top;
    z-index: 2;
}

.header_gradient {
    position: absolute;
    top: calc(100vw*850/1780);
    left: 0;
    width: 100vw;
    height: calc(100vw*150/1600);
    background-image: linear-gradient(to bottom, rgba(236, 244, 251, 1), rgba(236, 244, 251, 0));
    pointer-events: none; /* permet de cliquer à travers le gradient */
    z-index: 0;
}

.nuage_container {
    width: 80vw;
    display: flex;
    margin: 0 10vw 0 10vw;
    height: calc(1.5*33vw*655/2048);
    z-index: 9;
}

.nuage {
    width: 33vw;
    height: calc(33vw*873/2048);
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.nuage:hover {
    transform: scale(1.2);
}

@keyframes floating {
    0% {top: calc(100vw*760/1780);}
    100% {top: calc(0.5*33vw*655/2048 + 100vw*760/1780);}
}

@keyframes floating_center {
    0% {top: calc(100vw*800/1780);}
    100% {top: calc(0.5*33vw*655/2048 + 100vw*800/1780);}
}

#pre {
    background-image: url('assets/nuages/Presentation_passelectionné.png');
    animation: floating 4.2s ease-in-out infinite alternate;
    transform: rotate(7deg);
    left: 10vw;
}

#ins {
    background-image: url('assets/nuages/Instal_selectionné.png');
    animation: floating_center 4.5s ease-in-out infinite alternate;
    animation-delay: -3s;
    left: 33.5vw;
}

#cre {
    background-image: url('assets/nuages/Credit_Pas.png');
    animation: floating 4.35s ease-in-out infinite alternate;
    animation-delay: -1s;
    transform: rotate(-7deg);
    right: 10vw;
}

.hitbox {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: calc(80vw/3);
    height: 100%;
    z-index: 999; /* toujours au-dessus */
    background: transparent; /* invisible */
    cursor: pointer;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    background-image: url('assets/icons/shogunyan.png'), url('assets/icons/nyanmurai.png'), url('assets/icons/foudomyo.png');
    background-size: 10vw, 10vw, 10vw;
    background-repeat: no-repeat;
    background-position: 30vw 45vh, 45vw 45vh, 60vw 45vh;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.33));
    animation: poyo 1.5s infinite;
    z-index: 9999;
}

.footer {
    margin: 10vh 0 0 0;
    height: 100vw;
    background-color: transparent;
    display: flex;
    background-image: url('assets/pad/Oreille_Pad_G.png'), url('assets/pad/Oreille_Pad_D.png'), url('assets/pad/Oeil_Pad.png'), url('assets/pad/Oeil_Pad.png'), url('assets/pad/Bouche_Pad.png'), url('assets/pad/black.png');
    background-size: calc(24vw) calc(24vw*977/1442), calc(24vw) calc(24vw*977/1442), 24vw 24vw, 24vw 24vw, 80vw auto, 100vw calc(100vw - 24vw*977/1442);
    background-position: left top, right top, 5vw calc(24vw*977/1442 + 10vw), 71vw calc(24vw*977/1442 + 10vw), center calc(24vw*977/1442 + 10vw + 24vw + 10vw), left calc(24vw*977/1442);
    background-repeat: no-repeat;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: calc(95vw - 24vw*977/1442);
    margin: calc(24vw*977/1442 + 2.5vw) 2.5vw 2.5vw 2.5vw;
    background-color: rgba(84, 84, 84, 0.33);
    border-radius: 10%;
}

.screen > .gradient-text {
    margin: 0 auto 10vw auto;
    height: calc(1.5*50vw*100/970.7);
    font-family: ywCool;
    font-size: calc(50vw*100/970.7);
    -webkit-text-stroke: calc(0.04*(50vw*100/970.7)) white;
}

a > .gradient-text {
    box-sizing: content-box;
    margin: auto 0 auto 15vw;
    height: calc(1.21*50vw*100/970.7);
    font-family: ywCool;
    font-size: calc(0.80*50vw*100/970.7);
    -webkit-text-stroke: calc(0.04*(50vw*100/970.7)) white;
}

.gradient-text {
    text-align: center;
    align-items: center;
    display: inline-block; /* largeur de la div = largeur du texte */
    background: -webkit-linear-gradient(bottom left, #E65F42, #F6B03A, #C7BA31, #9CC328, #5CACCC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px white;
    background-size: 100% 1%;
}

#ytb::before, #ytb::after,
#mail::before, #mail::after,
#dcd::before, #dcd::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 12.5vw; height: 12.5vw;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    border-radius: 2.5vw;
}

#ytb::before {
    background-image: url('assets/icons/youtube_icon.png');
    opacity: 1;
}

#mail::before {
    background-color: #5CACCC;
    background-image: url('assets/icons/mail.png');
    opacity: 1;
}

#dcd::before {
    background-image: url('assets/icons/discord_icon.png');
    opacity: 1;
}

#ytb::after{
    background-image: url('assets/icons/wibwob.png');
    opacity: 0;
}

#mail::after {
    background-image: url('assets/icons/gmail.png');
    opacity: 0;
}

#dcd::after {
    background-image: url('assets/icons/server.jpg');
    opacity: 0;
}

#ytb:hover::before, #mail:hover::before, #dcd:hover::before {
    opacity: 0;
}

#ytb:hover::after, #mail:hover::after, #dcd:hover::after {
    opacity: 1;
}

#ytb, #mail, #dcd {
    background-size: 12.5vw;
    background-repeat: no-repeat;
    background-position: left center;
    height: 12.5vw;
    width: 37vw;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5vw;
}

@keyframes poyo {
  0% {background-position: 30vw 45vh, 45vw 45vh, 60vw 45vh; background-size: 10vw, 10vw, 10vw;}
  25% {background-position: 29vw 35vh, 45vw 45vh, 60vw 45vh; background-size: 12vw, 10vw, 10vw;}
  50% {background-position: 30vw 45vh, 44vw 35vh, 60vw 45vh; background-size: 10vw, 12vw, 10vw;}
  75% {background-position: 30vw 45vh, 45vw 45vh, 59vw 35vh; background-size: 10vw, 10vw, 12vw;}
  100% {background-position: 30vw 45vh, 45vw 45vh, 60vw 45vh; background-size: 10vw, 10vw, 10vw;}
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */
    .separator{
        width: 100vw;
    }

    .container {
        width: 100vw;
        margin: 0;
    }

    .header_gradient {
        top: calc(100vw*850/1424);
    }

    .header {
        height: calc(100vw*886/1424);
        background-size: 100vw auto;
    }

    .nuage_container {
        width: 100vw;
        margin: 0;
        height: calc(1.5*41.25vw*655/2048);
    }

    .nuage_container {
        width: 100vw;
        margin: 0;
        height: calc(1.5*41.25vw*655/2048);
    }

    .nuage {
        width: 41.25vw;
        height: calc(41.25vw*873/2048);
    }

    @keyframes floating {
        0% {top: calc(100vw*760/1424);}
        100% {top: calc(0.5*41.25vw*655/2048 + 100vw*760/1424);}
    }

    @keyframes floating_center {
        0% {top: calc(100vw*800/1424);}
        100% {top: calc(0.5*41.25vw*655/2048 + 100vw*800/1424);}
    }

    #pre {
        left: 0vw;
    }

    #ins {
        left: 29.375vw;
    }

    #cre {
        right: 0vw;
    }

    #preloader {
        background-position: 20vw 42vh, 42vw 42vh, 64vw 42vh;
        background-size: 16vw, 16vw, 16vw;
    }

    @keyframes poyo {
        0% {background-position: 20vw 42vh, 42vw 42vh, 64vw 42vh; background-size: 16vw, 16vw, 16vw;}
        25% {background-position: 19vw 32vh, 42vw 42vh, 64vw 42vh; background-size: 18vw, 16vw, 16vw;}
        50% {background-position: 20vw 42vh, 41vw 32vh, 64vw 42vh; background-size: 16vw, 18vw, 16vw;}
        75% {background-position: 20vw 42vh, 42vw 42vh, 63vw 32vh; background-size: 16vw, 16vw, 18vw;}
        100% {background-position: 20vw 42vh, 42vw 42vh, 64vw 42vh; background-size: 16vw, 16vw, 16vw;}
    }

    .GTP {
        width: 60vw;
        height: calc(60vw*12/100);
    }

    .apk{
        width: auto;
        height: calc(60vw*12/100);
        font-size: large;
        border-radius: 25px;
    }

    .footer {
        background-size: 30vw calc(30vw*977/1442), 30vw calc(30vw*977/1442), 30vw 30vw, 30vw 30vw, 80vw auto, 100vw calc(100vw - 30vw*977/1442);
        background-position: left top, right top, 5vw calc(30vw*977/1442 + 10vw), 65vw calc(30vw*977/1442 + 10vw), center calc(30vw*977/1442 + 10vw + 30vw + 10vw), left calc(30vw*977/1442);
    }

    .copyright {
        font-size: 1em;
    }
}