@font-face {
    font-family: ywBig;
    src: url('assets\\fonts\\FOT-RowdyStd-EB.otf');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/patern.png');
    background-size: 15vw 15vw;
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.15; /* sur le patern de yokai watch 1 l'opacité semble être à 10% mais 15 est ce qui est le plus fidèle au résultat*/
    filter: brightness(100); /* objectif avoir un blanc bien pétant 255 */
    pointer-events: none;
    z-index: -1;
    animation: movePatern 10s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.element.animate {
  transform: scale(1.2) rotate(10deg);
  transition: transform 0.5s ease;
}

@keyframes movePatern {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

.spacer {
  height: 150vh;
}

.element {
  height: 200px;
  background: coral;
  transition: transform 2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  will-change: transform;
}

.footer {
    height: 50vh;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer > .gradient-text {
    font-family: ywBig;
    font-size: 100px;
}

.gradient-text {
    display: inline-block; /* largeur de la div = largeur du texte */
    line-height: 1; /* hauteur de la div = hauteur du texte */
    background: -webkit-linear-gradient(left, #E65F42, #F6B03A, #C7BA31, #9CC328, #5CACCC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px white;
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */

    body::before {
        background-size: 15vh 15vh; /* le vh est plus adapté que le vw pour un téléphone */
    }

    @keyframes movePatern {
        from {
            background-position: 0 0, center;
        }
        to {
            background-position: 15vh 15vh, center;
        }
    }
}