@font-face {
    font-family: ywBig;
    src: url('assets\\fonts\\FOT-RowdyStd-EB.otf');
}

@font-face {
    font-family: ywCool;
    src: url('assets\\fonts\\fot-yuruka-std.ttf');
}

body {
    position: relative;
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/patern.png');
    background-size: 15vw 15vw;
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.15; /* sur le patern de yokai watch 1 l'opacité semble être à 10% mais 15 est ce qui est le plus fidèle au résultat*/
    filter: brightness(100); /* objectif avoir un blanc bien pétant 255 */
    pointer-events: none;
    z-index: -1;
    animation: movePatern 10s linear infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes movePatern {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#animated-word span {
  display: inline-block;
  transform: translateY(0);
  animation: lift 0.5s ease forwards;
  opacity: 0;
}

@keyframes lift {
  to {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.spacer {
  height: 100vh;
}

.popup {
    width: 80vw;
    height: calc(0.65*80vw);
    margin: 10vw 0 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    opacity: 0;
    transform: scale(0.65);
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.33));

}

.bounce-in {
    transform: scale(1);
    opacity: 1;
    transition: opacity 1s easeInBounce, transform 1s easeInBounce;
}

#popup1 {
    background-image: url('assets/popups/test_text.png'), url('assets/popups/test_img.png');
    background-position: left top, right top;
    background-size: contain, contain;
    background-repeat: no-repeat;
}

.footer {
    height: 50vh;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: top;
}

.footer > .gradient-text {
    font-family: ywCool;
    font-size: calc(50vw*100/970.7);
    -webkit-text-stroke: calc(0.04*(50vw*100/970.7)) white;
}

.gradient-text {
    display: inline-block; /* largeur de la div = largeur du texte */
    background: -webkit-linear-gradient(bottom left, #E65F42, #F6B03A, #C7BA31, #9CC328, #5CACCC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px white;
    background-size: 100% 1%;
}

.header {
  width: 100vw;
  height: 150px;
  background-color: #333333;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  display: flex;
  justify-content: space-evenly;
}


.logobi {
    background-image: url('assets\\Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
}

.categorie {
    font-family: ywCool;
    font-size: 55px;
    color: #EEEEEE;
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */

    body::before {
        background-size: 15vh 15vh; /* le vh est plus adapté que le vw pour un téléphone */
    }

    @keyframes movePatern {
        from {
            background-position: 0 0, center;
        }
        to {
            background-position: 15vh 15vh, center;
        }
    }

    .footer > .gradient-text {
        font-family: ywCool;
        font-size: calc(90vw*100/970.7);
        -webkit-text-stroke: calc(0.04*(90vw*100/970.7)) white;
    }

    .categorie {
        font-family: ywCool;
        font-size: 15px;
        color: #EEEEEE;
    }

    .popup {
        width: 100vw;
        height: 65vw;
        margin: 0;
    }
}


.preloader {
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url('assets/icons/shogunyan.png'), url('assets/icons/nyanmurai.png'), url('assets/icons/foudomyo.png');
  background-size: 26% 3px;
  animation: l2 1s infinite;
  z-index: 9999;
}
@keyframes l2 {
  0%,
  70%,
  100% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
  14%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
  28%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
  42%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 100%}
  56%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
}